@import '../variables.scss';

.Question-count {
    display: block; 
    height: 15vh;
    width: 25%;
    margin: 0 2%;
    border: dashed 1px $main-color;
}

.Question-count-text {
  font-size: 3vh;
  color: $main-color;
}

.App-hidden {
  visibility: hidden;
  width: 40%;
  margin: 0;
}

@media screen and (max-width: 414px) {
  .Question-count {
    width: 60%;
  }
}