@import '../variables.scss';

.Question-count {
    border: dashed 1px $main-color;
    display: block; 
    margin: 0 2%;
    width: 25%;
    
}

.Question-count-text {
  color: $main-color;
  font-size: 3vh;
}

.App-hidden {
  margin: 0;
  visibility: hidden;
  width: 40%;
}

@media screen and (max-width: 414px) {
  .Question-count {
    width: 60%;
  }
}