@import '../variables.scss';

.AnswerCard-container {
  font-size: 1.2em;
}

.Answer-instructions {
  color: $main-color; 
  font-size: 1.5em;
}

.Answer-card {
  color: $main-color; 
  font-size: 1em;
  margin: 2vh 1vh;
}

//Radio Buttons

.Button-one,
.Button-two,
.Button-three {
  margin: 1vh;
}

//Submit Button

.Answer-submit {
  color: $main-color;
  background-color: $background-color;
  border: $button-accent-color 3px dashed;
  font-size: 2rem;
  margin: 3vh;
  padding: 1vh;
}

//Media Queries

@media screen and (max-width: 414px) {
  .AnswerCard-container {
    margin: 0 5%;
    width: 90%;
  }
}
