@import '../variables.scss';


.AnswerCard-container {
  margin: 0 20%;
  width: 60%;
  min-height: 30vh;
}

.Answer-instructions {
  color: $main-color; 
  font-size: 1.5em;
}

.Answer-card {
  color: $main-color; 
  font-size: 1em;
  margin: 2vh 1vh;
}

.Button-one,
.Button-two,
.Button-three {
  margin: 1vh;
}

.Answer-submit {
  margin: 3vh;
  padding: 1vh;
  background-color: $background-color;
  color: $main-color;
  border: rgb(36, 159, 41) 3px dashed;
  font-size: 2rem;
}
