@import '../variables.scss';


.AnswerCard-container {
  margin: 0 20%;
  border: red 5px solid;
  width: 60%;
  min-height: 30vh;
}

.Answer-instructions {
  color: $main-color; 
  font-size: 1.5em;
}

.Answer-card {
  color: $main-color; 
  font-size: 1em;
}

.Answer-submit {
  margin: 0 10vh;
  padding: 1vh;
  background-color: $background-color;
  color: #0f0;
  border: $main-color 3px dashed;
}
