@import '../variables.scss';

.App {
  text-align: center;
}

.App-header {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2%;
  font-size: 4.5vh;
  justify-content: center;
}

.App-title {
  margin: 2% 20%;
  animation: App-logo-spin infinite 20s ease-in-out;
  pointer-events: none;
}

.App-instructions {
  color: $main-color;
  font-size: 2.5vh;
  letter-spacing: .2em;
  line-height: 5vh;
  margin: 0 5%;
}

.Text-bold{
  font-weight: 200;
  color: #0f0;
}

.App-btn {
  margin: 5vh;
  padding: 2vh;
  background-color: $background-color;
  color: $main-color;
  border: rgb(36, 159, 41) 3px dashed;
  font-size: 3rem;
}

.Reset-game {
  display: block;
  height: 50vh;
  display: grid;
  margin: 15%;
  width: 80%;
  border: 2px red solid;
  color: white;
  justify-content: center;
}

.Answer-reset {
  padding: 0px 6%;
  margin: 2% 0;
  height: 9vh;
  border: 2px red solid;
  color: $main-color;
  background:$background-color;
}

@keyframes App-logo-spin {
  from {
    color: red;
  }
  to {
    color: blue;
  }

  @media screen and (max-width: 414px) {
    .App-header {
      width: 60%;
      border: 5px solid red;
    }
  }
  //double check that is works


}
