@import '../variables.scss';

.App {
  text-align: center;
}

.App-header {
  display: flex; 
  flex-wrap: wrap;
  font-size: 4.5vh;
  justify-content: center;
  margin: 2%;
}

.App-title {
  animation: App-logo-spin infinite 20s ease-in-out;
  margin: 2% 15%;
  pointer-events: none;
  width: 100%;
}

.App-instructions {
  color: $main-color;
  font-size: 2.5vh;
  letter-spacing: .2em;
  line-height: 5vh;
  margin: 0 5%;
}

.Text-bold {
  font-weight: 500;
  color: $button-accent-color;
}

//Start Game Button

.App-btn {
  background-color: $background-color;
  border: $button-accent-color 3px dashed;
  color: $main-color;
  font-size: 3rem;
  margin: 5vh;
  padding: 2vh;
}

//Reset Game Button

.Reset-game {
  color: $main-color;
  display: grid;
  height: 50vh;
  margin: 10% 40%;
  width: 25%;
}

.Answer-reset {
  background:$background-color;
  border: 2px $endgame-color solid;
  color: $main-color;
  height: 9vh;
}

//Animations

@keyframes App-logo-spin {
  from {
    color: $endgame-color;
  }
  to {
    color: blue;
  }
}

// Media Queries

@media screen and (max-width: 414px) {
  .App-header {
    width: 100%;
  }

  .App-title {
    font-size: 1.5em;
    margin: 20% 0;
  }
}



