@import '../variables.scss';

.App {
  text-align: center;
}

.App-header {
  display: grid;
  grid-template-columns: 20% 50% 20%;
  justify-content: space-between;
  margin: 2% 0;
  font-size: 4.5vh;
}

.Score {
  border: red 5px solid;
  height: 20vh;
}

.App-title {
  animation: App-logo-spin infinite 20s ease-in-out;
  pointer-events: none;
  justify-content: center;
}

.Question-count {
  border: red 5px solid;
  height: 20vh;
}

.Question-count-text,
.Score-text {
  font-size: 2.5vh;
  color: $main-color;
}

.App-instructions {
  color: $main-color;
  font-size: 2.5vh;
  letter-spacing: .8em;
  margin: 0 1%;
}

.App-btn {
  margin: 10vh;
  padding: 1vh;
  background-color: $background-color;
  color: #0f0;
  border: $main-color 3px dashed;
}

.App-hidden {
  visibility: hidden;
}

@keyframes App-logo-spin {
  from {
    color: red;
  }
  to {
    color: blue;
  }
}
