@import '../variables.scss';

  .Score {
    border: dashed 1px $main-color;
    display: block;
    justify-content: center;
    margin: 0 2%;
    width: 15%;
  }

  .Score-animation {
    animation: bounceIn 2s;
    color: yellow;
    font-size: 1em;
    margin: 1%;
    pointer-events: none; 
  }
    
  .Score-text {
    color: $main-color;
    font-size: .6em;
  }

  //Score Block Hidden

  .App-hidden {
    margin: 0;
    visibility: hidden;
    width: 40%;
  }

  //Animations

  @keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
