@import '../variables.scss';

.Score {
    display: block;
    justify-content: center;
    justify-content: space-between;
    height: 15vh;
    width: 25%;
    margin: 0 2%;
    border: dashed 1px $main-color;
  }

  .Score-animation {
      font-size: 80px;
      color: #fff;
      text-align: center;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    }
    
  .Score-text {
    font-size: 3vh;
    color: $main-color;
  }

  .App-hidden {
    visibility: hidden;
    width: 40%;
    margin: 0;
  }

@-webkit-keyframes Score-animation {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
//fix coloring