@import '../variables.scss';

.Score {
    display: block;
    justify-content: center;
    justify-content: space-between;
    height: 15vh;
    width: 25%;
    margin: 0 2%;
    border: dashed 1px $main-color;
  }

  .Score-animation {
      font-size: 1em;
      color: yellow;
      animation: bounceIn 2s;
      pointer-events: none;
      margin: 1%;
    }
    
  .Score-text {
    font-size: .6em;
    color: $main-color;
  }

  .App-hidden {
    visibility: hidden;
    width: 40%;
    margin: 0;
  }

  @keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
